.nav_lists{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    border: 3px black;
}
.card_img_top{
    height: 8rem;
}
li:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;   
}
@media (max-width: 760px) {
    .smallScreenFix {
    display: flex;
    align-items: center;
    justify-content: end;
    }